In [141]:
#3. AN INFORMAL INTRODUCTION TO PYTHON

In [ ]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

In [5]:
spam

1

In [142]:
text

"# This is not a comment because it's inside quotes."

In [143]:
#3.1. Using Python as a Calculator

In [ ]:
#3.1.1. Numbers

In [10]:
2+2

4

In [11]:
50-5*6

20

In [12]:
(50 - 5*6) / 4

5.0

In [13]:
8 / 5  # division always returns a floating point number

1.6

In [14]:
17 / 3  # classic division returns a float

5.666666666666667

In [15]:
17 // 3  # floor division discards the fractional part

5

In [16]:
17 % 3  # the % operator returns the remainder of the division

2

In [17]:
5 * 3 + 2  # result * divisor + remainder

17

In [18]:
5 ** 2  # 5 squared

25

In [19]:
2 ** 7  # 2 to the power of 7

128

In [21]:
width = 20
height = 5 * 9
width * height

900

In [22]:
n  # try to access an undefined variable

NameError: name 'n' is not defined

In [23]:
4 * 3.75 - 1

14.0

In [2]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [3]:
price + _
round(_, 2)

12.56

In [ ]:
#3.1.2. Strings

In [38]:
'spam eggs'  # single quotes

'spam eggs'

In [39]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [40]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [41]:
'"Yes," they said.'

'"Yes," they said.'

In [42]:
"\"Yes,\" they said."

'"Yes," they said.'

In [43]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [44]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [45]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [46]:
s = 'First line.\nSecond line.'  # \n means newline

In [47]:
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [48]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

In [49]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [50]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [51]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [52]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [53]:
'Py' 'thon'

'Python'

In [54]:
text = ('Put several strings within parentheses '
...         'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [59]:
prefix = 'Py'

In [5]:
('un' * 3) + 'ium'

'unununium'

In [60]:
#If you want to concatenate variables or a variable and a literal, use +:
prefix + 'thon'

'Python'

In [61]:
word = 'Python'
word[0]  # character in position 0

'P'

In [62]:
word[5]  # character in position 5

'n'

In [63]:
word[-1]  # last character

'n'

In [64]:
word[-2]  # second-last character

'o'

In [65]:
word[-6]

'P'

In [66]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [67]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [68]:
word[:2] + word[2:]

'Python'

In [69]:
word[:4] + word[4:]

'Python'

In [70]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [71]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [72]:
word[-2:]  # characters from the second-last (included) to the end

'on'

In [73]:
word[42]  # the word only has 6 characters

IndexError: string index out of range

In [74]:
word[4:42]

'on'

In [75]:
word[42:]

''

In [76]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [77]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [78]:
'J' + word[1:]

'Jython'

In [79]:
word[:2] + 'py'

'Pypy'

In [145]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [ ]:
#3.1.3. Lists

In [81]:
squares = [1, 4, 9, 16, 25]

In [82]:
squares

[1, 4, 9, 16, 25]

In [83]:
squares[0]  # indexing returns the item

1

In [84]:
squares[-1]

25

In [85]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [86]:
squares[:]

[1, 4, 9, 16, 25]

In [87]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [88]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here

In [89]:
4 ** 3

64

In [90]:
cubes[3] = 64

In [91]:
cubes

[1, 8, 27, 64, 125]

In [92]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7

In [93]:
cubes

[1, 8, 27, 64, 125, 216, 343]

In [94]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [95]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [96]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [97]:
letters[:] = []
letters

[]

In [98]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [99]:
#It is possible to nest lists (create lists containing other lists), for example:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [100]:
x[0]

['a', 'b', 'c']

In [146]:
x[0][1]

TypeError: 'int' object is not subscriptable

In [ ]:
#3.2. First Steps Towards Programming

In [102]:
# Fibonacci series:
... # the sum of two elements defines the next
... a, b = 0, 1
while a < 10:
...     print(a)
...     a, b = b, a+b

0
1
1
2
3
5
8

In [103]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [16]:
a, b = 0, 1

In [18]:
while a < :
     print(a, end=',')
a, b = b, a+b

SyntaxError: invalid syntax (<ipython-input-18-955e4a06646c>, line 1)

In [2]:
#4. MORE CONTROL FLOW TOOLS

In [ ]:
#4.1. if Statements

In [4]:
x = int(input("Please enter an integer: "))

Please enter an integer: 1

In [5]:
if x < 0:
     print('Negative changed to zero')
elif x == 0:
     print('Zero')
elif x == 1:
     print('Single')
else:
     print('More')

Single

In [ ]:
#4.2. for Statements

In [32]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
     print(w, len(w))

cat 3
window 6
defenestrate 12

In [19]:
# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

NameError: name 'users' is not defined

In [35]:
# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

NameError: name 'users' is not defined

In [ ]:
#4.3. The range() Function

In [36]:
for i in range(5):
     print(i)

0
1
2
3
4

In [37]:
range(5, 10)

range(5, 10)

In [41]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [43]:
print(range(10))

range(0, 10)

In [44]:
sum(range(4))

6

In [45]:
list(range(4))

[0, 1, 2, 3]

In [ ]:
#4.4. break and continue Statements, and else Clauses on Loops

In [46]:
for n in range(2, 10):
...     for x in range(2, n):
...         if n % x == 0:
...             print(n, 'equals', x, '*', n//x)
...             break
...     else:
...         # loop fell through without finding a factor
...         print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [51]:
for num in range(2, 10):
...     if num % 2 == 0:
...         print("Found an even number", num)
...         continueccc
...     print("Found a number", num)

Found an even number 2

NameError: name 'continueccc' is not defined

In [ ]:
#4.5. pass Statements

In [50]:
while True:
...     pass  # Busy-wait for keyboard interrupt (Ctrl+C)

KeyboardInterrupt:

In [ ]:
class MyEmptyClass:
...     pass

In [ ]:
def initlog(*args):
...     pass   # Remember to implement this!

In [ ]:
#4.6. Defining Functions

In [52]:
def fib(n):    # write Fibonacci series up to n
...     """Print a Fibonacci series up to n."""
...     a, b = 0, 1
...     while a < n:
...         print(a, end=' ')
...         a, b = b, a+b
...     print()

In [53]:
# Now call the function we just defined:
fib(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [54]:
fib
<function fib at 10042ed0>
 f = fib
    f(100)

SyntaxError: invalid syntax (<ipython-input-54-500dc1c2eb45>, line 2)

In [55]:
fib(0)
print(fib(0))

None

In [56]:
def fib2(n):  # return Fibonacci series up to n
...     """Return a list containing the Fibonacci series up to n."""
...     result = []
...     a, b = 0, 1
...     while a < n:
...         result.append(a)    # see below
...         a, b = b, a+b
...     return result

In [57]:
f100 = fib2(100)    # call it

In [58]:
 f100

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
#4.7. More on Defining Functions

In [ ]:
#4.7.1. Default Argument Values

In [59]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [60]:
i = 5

def f(arg=i):
    print(arg)

In [61]:
i = 6
f()

5

In [62]:
def f(a, L=[]):
    L.append(a)
    return L

In [63]:
print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [ ]:
#4.7.2. Keyword Arguments

In [64]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [65]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [66]:
parrot()                     # required argument missing
parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument
parrot(110, voltage=220)     # duplicate value for the same argument
parrot(actor='John Cleese')  # unknown keyword argument

SyntaxError: positional argument follows keyword argument (<ipython-input-66-2ac707ad11c1>, line 2)

In [67]:
def function(a):
...     pass
...
function(0, a=0)

TypeError: function() got multiple values for argument 'a'

In [68]:
z = 7

In [69]:
z

7

In [71]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [72]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [ ]:
#4.7.3. Special parameters

In [ ]:
#4.7.3.4. Function Examples

In [81]:
def standard_arg(arg):
    print(arg)

In [90]:
def pos_only_arg(arg, /):
    print(arg)

SyntaxError: invalid syntax (<ipython-input-90-6bb076145948>, line 1)

In [85]:
def kwd_only_arg(*, arg):
    print(arg)

In [86]:
def combined_example(pos_only, /, standard, *, kwd_only):
    print(pos_only, standard, kwd_only)

SyntaxError: invalid syntax (<ipython-input-86-e71a7fd473ab>, line 1)

In [82]:
standard_arg(2)

2

In [87]:
standard_arg(arg=2)

2

In [88]:
pos_only_arg(1)

NameError: name 'pos_only_arg' is not defined

In [89]:
pos_only_arg(arg=1)

NameError: name 'pos_only_arg' is not defined

In [91]:
combined_example(1, 2, 3)

NameError: name 'combined_example' is not defined

In [92]:
combined_example(1, 2, kwd_only=3)

NameError: name 'combined_example' is not defined

In [93]:
combined_example(1, standard=2, kwd_only=3)

NameError: name 'combined_example' is not defined

In [94]:
combined_example(pos_only=1, standard=2, kwd_only=3)

NameError: name 'combined_example' is not defined

In [95]:
def foo(name, **kwds):
    return 'name' in kwds

In [96]:
foo(1, **{'name': 2})

TypeError: foo() got multiple values for argument 'name'

In [99]:
def foo(name, /, **kwds):
    return 'name' in kwds
        foo(1, **{'name': 2})
True

SyntaxError: invalid syntax (<ipython-input-99-ac05a57fd95c>, line 1)

In [ ]:
#4.7.3.5. Recap

In [100]:
def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):

SyntaxError: invalid syntax (<ipython-input-100-d398be9f5c1a>, line 1)

In [ ]:
#4.7.4. Arbitrary Argument Lists

In [101]:
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [103]:
def concat(*args, sep="/"):
     return sep.join(args)
concat("earth", "mars", "venus")
concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

In [ ]:
#4.7.5. Unpacking Argument Lists

In [105]:
list(range(3, 6))            # normal call with separate arguments

[3, 4, 5]

In [106]:
args = [3, 6]
list(range(*args))            # call with arguments unpacked from a list

[3, 4, 5]

In [108]:
def parrot(voltage, state='a stiff', action='voom'):
...     print("-- This parrot wouldn't", action, end=' ')
...     print("if you put", voltage, "volts through it.", end=' ')
...     print("E's", state, "!")
...
d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [ ]:
#4.7.6. Lambda Expressions

In [109]:
def make_incrementor(n):
     return lambda x: x + n
f = make_incrementor(42)

In [110]:
f(0)

42

In [111]:
f(1)

43

In [112]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [ ]:
#4.7.7. Documentation Strings

In [113]:
def my_function():
...     """Do nothing, but document it.
...
...     No, really, it doesn't do anything.
...     """
...     pass
...
>>> print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

In [ ]:
#4.7.8. Function Annotations

In [92]:
def f(ham: str, eggs: str = 'eggs') -> str:
...     print("Annotations:", f.__annotations__)
...     print("Arguments:", ham, eggs)
...     return ham + ' and ' + eggs
...
f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

In [ ]:
#5. DATA STRUCTURES

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [2]:
fruits.count('apple')

2

In [3]:
fruits.count('tangerine')

0

In [4]:
fruits.index('banana')

3

In [5]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [6]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [7]:
fruits.index('banana')

0

In [8]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [9]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [91]:
fruits.pop()

'orange'

In [ ]:
#5.1.1. Using Lists as Stacks

In [11]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [12]:
stack.pop()

7

In [13]:
stack

[3, 4, 5, 6]

In [14]:
stack.pop()

6

In [15]:
stack.pop()

5

In [93]:
stack

[3, 4]

In [ ]:
#5.1.2. Using Lists as Queues

In [17]:
from collections import deque

In [18]:
queue = deque(["Eric", "John", "Michael"])

In [19]:
queue

deque(['Eric', 'John', 'Michael'])

In [20]:
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives

In [22]:
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [23]:
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [24]:
queue

deque(['John', 'Michael', 'Terry', 'Graham'])

In [25]:
queue.popleft()                 # The second to arrive now leaves

'John'

In [90]:
queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [ ]:
#5.1.3. List Comprehensions

In [27]:
squares = []
for x in range(10):
     squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
squares = list(map(lambda x: x**2, range(11)))

In [31]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
squares = [x**2 for x in range(10)]

In [34]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [36]:
combs = []
for x in [1,2,3]:
     for y in [3,1,4]:
         if x != y:
             combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [37]:
vec = [-4, -2, 0, 2, 4]

In [38]:
vec

[-4, -2, 0, 2, 4]

In [39]:
# create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [40]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [41]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [42]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']

In [43]:
freshfruit

['  banana', '  loganberry ', 'passion fruit  ']

In [44]:
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [45]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [46]:
# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-46-702d12ece8a4>, line 2)

In [47]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
vec

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [49]:
vec[1]

[4, 5, 6]

In [51]:
vec[1][1]

5

In [52]:
#List comprehensions can contain complex expressions and nested functions:

from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [53]:
#5.1.4. Nested List Comprehensions

In [54]:
matrix = [
...     [1, 2, 3, 4],
...     [5, 6, 7, 8],
...     [9, 10, 11, 12],
... ]

In [55]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [56]:
#The following list comprehension will transpose rows and columns:

[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [59]:
transposed = []
for i in range(4):
     transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [63]:
transposed = []
for i in range(4):
     # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [89]:
#In the real world, you should prefer built-in functions to complex flow statements. 
#The zip() function would do a great job for this use case:

list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [ ]:
# 5.2. THE -DEL- STATEMENT

In [66]:
#There is a way to remove an item from a list given its index
a = [-1, 1, 66.25, 333, 333, 1234.5]

In [67]:
a

[-1, 1, 66.25, 333, 333, 1234.5]

In [68]:
del a[0]

In [69]:
a

[1, 66.25, 333, 333, 1234.5]

In [70]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [71]:
del a[:]
a

[]

In [72]:
#5.3 TUPLES AND SEQUENCES

In [74]:
#A tuple consists of a number of values separated by commas, for instance:

t = 12345, 54321, 'hello!'

In [75]:
t

(12345, 54321, 'hello!')

In [76]:
t[0]

12345

In [77]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [78]:
# Tuples are immutable:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [79]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [80]:
#tupla vaca
empty = ()

In [81]:
empty

()

In [82]:
len(empty)

0

In [83]:
#tupla con un solo elemento
singleton = 'hello',    # <-- note trailing comma

In [84]:
len(singleton)

1

In [85]:
singleton

('hello',)

In [86]:
#otra forma de crear una tupla
x, y, z = t

In [94]:
t

(12345, 54321, 'hello!')

In [95]:
type(t)

tuple

In [88]:
#5.4. SETS

In [96]:
#A set is an unordered collection with no duplicate elements
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

{'banana', 'pear', 'apple', 'orange'}

In [97]:
type(basket)

set

In [98]:
'orange' in basket                 # fast membership testing

True

In [99]:
'crabgrass' in basket

False

In [100]:
# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')

In [101]:
a   # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [102]:
b

{'a', 'c', 'l', 'm', 'z'}

In [103]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [104]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [105]:
a & b                              # letters in both a and b

{'a', 'c'}

In [106]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [107]:
#Similarly to list comprehensions, set comprehensions are also supported:

a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [108]:
#5.5. DICTIONARIES

In [111]:
#It is best to think of a dictionary as a set of key: value pairs, with the requirement that 
#the keys are unique (within one dictionary)

tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127

In [112]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [113]:
type(tel)

dict

In [114]:
tel['jack']

4098

In [115]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [116]:
list(tel)

['jack', 'guido', 'irv']

In [117]:
sorted(tel)

['guido', 'irv', 'jack']

In [118]:
'guido' in tel

True

In [119]:
'jack' not in tel

False

In [120]:
#The dict() constructor builds dictionaries directly from sequences of key-value pairs:

dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [121]:
#dict comprehensions can be used to create dictionaries from arbitrary key and value expressions:

{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [122]:
#When the keys are simple strings, it is sometimes easier to specify pairs using keyword arguments:

dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [123]:
#5.6. LOOPING TECHNIQUES

In [124]:
#When looping through dictionaries, the key and corresponding value can be retrieved at the same 
#time using the items() method.

knights = {'gallahad': 'the pure', 'robin': 'the brave'}

In [125]:
for k, v in knights.items():
     print(k, v)

gallahad the pure
robin the brave

In [126]:
#When looping through a sequence, the position index and corresponding value can be retrieved 
#at the same time using the enumerate() function.

for i, v in enumerate(['tic', 'tac', 'toe']):
     print(i, v)

0 tic
1 tac
2 toe

In [127]:
#To loop over two or more sequences at the same time, the entries can be paired with the 
#zip() function.

questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
     print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [128]:
#To loop over a sequence in reverse, first specify the sequence in a forward direction and 
#then call the reversed() function.

for i in reversed(range(1, 10, 2)):
     print(i)

9
7
5
3
1

In [129]:
#To loop over a sequence in sorted order, use the sorted() function which returns a new 
#sorted list while leaving the source unaltered.

basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
     print(f)

apple
banana
orange
pear

In [130]:
#It is sometimes tempting to change a list while you are looping over it; however, it is often 
#simpler and safer to create a new list instead.

import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
     if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [131]:
#5.7. MORE ON CONDITIONS

In [132]:
#It is possible to assign the result of a comparison or other Boolean expression to a variable: 

string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

In [133]:
#5.8. COMPARING SEQUENCES AND OTHER TYPES

In [134]:
(1, 2, 3)              < (1, 2, 4)

True

In [135]:
[1, 2, 3]              < [1, 2, 4]

True

In [136]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [137]:
(1, 2, 3, 4)           < (1, 2, 4)

True

In [138]:
(1, 2)                 < (1, 2, -1)

True

In [139]:
(1, 2, 3)             == (1.0, 2.0, 3.0)

True

In [140]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True